.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background-image:url("/images/wallpaper.jpg");
  background-repeat: no-repeat;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
  
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 00px) {
  .container {
    max-width: 100%;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
.navleft{
    text-align:right;
    right: 0px;
    z-index: 1030;
    font:14pt;
    font-family:Arial;
    color:white;
}
.navright{
    
}
.toggler{
    width: 500px;
    height: 500px;
}
#button {
    padding: .5em 1em;
    text-decoration: none;
}
#effect {
    width: 240px;
    height: 135px;
    padding: 0.4em;
    position: relative;
}
#effect h3 {
        margin: 0;
        padding: 0.4em;
        text-align: center;
    }
.panel, .flip {
    right:0;
    padding: 10px;
    text-align: left;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}

.panel {
    padding: auto;
    display: none;
}
.panelRight{
    width: 700px;
}
.panelLeft{
    text-align:left;
    left: 0px;
}
#toggle {
    width: 300px;
    height: 600px;
    background: #ccc;
  }
.slide {
  position: relative;
}
.slide .inner {
  position: absolute;
  left: 0;
  bottom: 0;
}

/*main css*/
* {
    font-family: Helvetica;
}
#container {
    float:right;
    width: 400px;
    height: 800px;
    margin: 20px 40px;
    position: relative;
    color: white;
    padding: 20px;
}
#drawer {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    overflow-x: hidden; /* Needed for initial hidden state */
}
#drawer > div {
    height: 100%;
    border-left: 1px;
    float: left;
}
#drawer-handle {
    width: 10px;
    background-color: #777;
    opacity:0.5;
}
#drawer-handle:after {
    content: "::";
    position: absolute;
    top: 50%;
    padding: 1px;
}
#drawer-content {
    width:         200px;
    margin-right: -200px; /* -width */
    background-color: #c3c3c3;
}
#drawer-content > p {
    padding: 10px;
}
#feedback {
    font-size: 1.4em;
}
#selectable .ui-selecting {
    background: #FECA40;
}
#selectable .ui-selected {
    background: #F39814;
    color: white;
}
#selectable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 450px;
}
    #selectable li {
        margin: 3px;
        padding: 1px;
        float: left;
        width: 100px;
        height: 80px;
        font-size: 4em;
        text-align: center;
    }

.summaryModal{
    width: 600px;
    height: 600px;
    background-color:#ffffff;
}
.folderModal{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color:rgb(0,0,0,0);
}
.folderheadModal{
    left: 0px;
    right: 0px;
    width: 600px;
    height: 45px;
    background-color:#e6e6e6;
}
.folderRightModal{
    height: 500px;
    width: 180px;
    background-color:#f2f2f2;
}

.folderLeftModal{
    height: 500px;
    width: 420px;
    background-color: #b6ff00;
}
.folderfooterModal{
    width: 600px;
    background-color:red;
}
.folderbodyModal{
    width: 600px;
}
.folderCenterModal{
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
.foldersize{
    width: 42px;
    height: 45;
}
.h6style{
    font-size: 10px;
}
/*shadow controls*/
.divsahdow{
    width: 580px;
    height: 530px;
    box-shadow: 0px 10px 30px 1px black;
}
#resizable {
    width: 150px;
    height: 150px;
    padding: 0.5em;
}
#resizable h3 {
        text-align: center;
        margin: 0;
    }
.mstart{
    position:fixed;
    top: 400px;
    width: 400px;
    height: 400px;
    background-color: #000000;
}
.right-col{
    background-color: #0026ff;
}
.left-col{
    background-color: #00ff21;
}
.personalModal{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color:rgb(0,0,0,0);
    border: 1px solid green;
}
.personalheadModal{
    left: 0px;
    right: 0px;
    width: 600px;
    height: 45px;
    background-color:white;
}
.personalRightModal{
    height: 500px;
    width: 180px;
    background-color:white;
}

.personalLeftModal{
    height: 500px;
    width: 420px;
    background-color: #b6ff00;
    border: 1px solid green;
}
.personalfooterModal{
    width: 600px;
    background-color:white;
}
.personalbodyModal{
    width: 600px;
}
.personalCenterModal{
  width: 50%;
  height: 50%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
.personalsize{
    width: 42px;
    height: 45;
}

/*Start menu*/
/*Container*/
#startmenu {
    border: solid 0.5px #102a3e;
    overflow: visible;
    display: inline-block;
    margin: 0 0 -10px 0;
    -moz-border-radius: 0px;
    -webkit-border-radius: 5px 5px 0 0;
    position: relative;
    box-shadow: inset 0 0 1px #fff;
    -moz-box-shadow: inset 0 0 1px #fff;
    -webkit-box-shadow: inset 0 0 1px #fff;
    background-color: #619bb9;
    background: -moz-linear-gradient(top, rgba(50, 123, 165, 0.75), rgba(46, 75, 90, 0.75) 50%, rgba(92, 176, 220, 0.75));
    background: -webkit-gradient(linear, center top, center bottom, from(#327aa4),color-stop(45%, #2e4b5a), to(#5cb0dc));
}
/*programs menu*/
#programs, #links {
    float: left;
    display: block;
    padding: 0;
    list-style: none;
}
#programs {
    background: #fff;
    border: solid 1px #365167;
    margin: 7px 0 7px 7px;
    box-shadow: 0 0 1px #fff;
    -moz-box-shadow: 0 0 1px #fff;
    -webkit-box-shadow: 0 0 1px #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
    #programs a {
        border: solid 1px transparent;
        display: block;
        padding: 3px;
        margin: 3px;
        color: #4b4b4b;
        text-decoration: none;
        min-width: 220px;
    }
        #programs a:hover {
            border: solid 1px #7da2ce;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            box-shadow: inset 0 0 1px #fff;
            -moz-box-shadow: inset 0 0 1px #fff;
            -webkit-box-shadow: inset 0 0 1px #fff;
            background-color: #cfe3fd;
            background: -moz-linear-gradient(top, #dcebfd, #c2dcfd);
            background: -webkit-gradient(linear, center top, center bottom, from(#dcebfd), to(#c2dcfd));
        }
        #programs a img {
            border: 0;
            vertical-align: middle;
            margin: 0 5px 0 0;
        }
/* links menu*/
#links {
    margin: 7px;
    margin-top: -30px;
}
    #links li.icon {
        text-align: center;
    }
 #links a {
        border: solid 1px transparent;
        display: block;
        margin: 5px 0;
        position: relative;
        color: #fff;
        text-decoration: none;
        min-width: 120px;
    }
#links a:hover {border:solid 1px #000;
             -moz-border-radius:3px; -webkit-border-radius:3px;
             box-shadow: 0 0 1px #fff; -moz-box-shadow: inset 0 0 1px #fff; -webkit-box-shadow: inset 0 0 1px #fff;
             background-color:#658da0;
             background: -moz-linear-gradient(center left, rgba(81,115,132,0.55), rgba(121,163,184,0.55) 50%, rgba(81,115,132,0.55));
             background: -webkit-gradient(linear, 0% 100%, 100% 100%, from(#517384), color-stop(50%, #79a3b8), to(#517384)); 
             }
#links a span {
            padding: 5px;
            display: block;
        }
#links a:hover span {
            background: -moz-linear-gradient(center top, transparent, transparent 49%, rgba(2,37,58,0.5) 50%, rgba(63,111,135,0.5));
            background: -webkit-gradient(linear, center top, center bottom, from(transparent), color-stop(49%, transparent), color-stop(50%, rgba(2,37,58,0.5)), to(rgba(63,111,135,0.5)));
        }
            /*search bar on the start menu*/
.searchfmenu{
    background-color: #f5f5f5; 
    font-size: 10px; 
    border: 0px; 
    text-transform: uppercase; 
    margin-top: 0px; 
    color: #999; 
    letter-spacing: 1px; 
    padding: 4px 8px;
    font-family: calibri, helvetica, arial;
    width: 100%;
}
#searchbtn{
    height: 20px; 
    vertical-align: top;
}
#searchf {
    background:  #f5f5f5 left center no-repeat;
    background-size: 10px 10px;
}
/*sub menu*/
.marginBottom-0 {
    margin-bottom: 0;
}

.dropdown-submenu {
    position: relative;
}
.dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px 6px;
        border-radius: 0 6px 6px 6px;
}
.dropdown-submenu > a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #cccccc;
        margin-top: 5px;
        margin-right: -10px;
    }
.dropdown-submenu:hover > a:after {
        border-left-color: #555;
    }
    .dropdown-submenu.pull-left {
        float: none;
    }
.dropdown-submenu.pull-left > .dropdown-menu {
        left: -100%;
        margin-left: 10px;
        -webkit-border-radius: 6px 0 6px 6px;
        -moz-border-radius: 6px 0 6px 6px;
        border-radius: 6px 0 6px 6px;
    }
#right{
    text-align:right;
}
/*energybar*/
.lifefull{
    width:100%;
    background-color:red;
}
.life90{
    width:90%;
}

.life80{
    width:80%;
}
.life70{
    width:70%;
}
.life60{
    width:60%;
}
.life50{
    width:50%;
}
.life40{
    width:40%;
}

/*Windows Folder*/
.address{
    font-size: 9pt;
    background-color: white;
    border: 1px solid #e5e5e5;
    width:;
}
.
.refresh{
   border-left: thick solid;
}
#foldercontainer {
    width: auto;
    margin: 0 auto;
}
#backarrow {
    margin-left: 1px;
    margin-right: 15px;
    float: left;
    width: auto;
}

#address {
    float: left;
    width: auto;
}

.searchiconmenu{
    background-color: #fbfbfb; 
    font-size: 10px; 
    border: 0px; 
    text-transform: uppercase; 
    margin-top: 0px; 
    color: #999; 
    letter-spacing: 1px; 
    padding: 0px auto;
    font-family: calibri, helvetica, arial;
    width: 100%;
}
#searchiconbtn{
    height: 20px; 
    vertical-align: top;
}
#searchicon {
    background:  #f5f5f5 left center no-repeat;
    background-size: 10px 10px;
}
/*inside folder window*/
#infoldercontainer {
    width: 100%;
    margin: 0 auto;
}
#header{
    position:absolute;
    top:0;
    border:solid 1px #a0afc3;
    width:100%;
    height: 30px;
    -moz-border-radius:3px; -webkit-border-radius:0px;
    box-shadow: 0 0 1px #fff; -moz-box-shadow: inset 0 0 1px #fff; -webkit-box-shadow: inset 0 0 1px #fff;
    background-color:#658da0;
    background: -moz-linear-gradient(center left, rgba(81,115,132,0.55), rgba(121,163,184,0.55) 50%, rgba(81,115,132,0.55));
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f4f9ff), color-stop(50%, #dce6f4), to(#dce7f5)); 
}
#headertext{
    margin-top: 14px;
}
#sidebar {
    float: left;
    width: 150px;
}

#bodycontent {
    float: left;
    width: 65%;
    height:500px;
}

#secondary {
    float: left;
    width: 240px;
}

#footer {
    position:absolute;
    bottom:0;
    width:99%;
    height:50px;
    background-color:aliceblue;
    clear: both;
}
/*side bar folder selections*/
#folderselect, #links {
    float: left;
    display: block;
    padding: 0;
    list-style: none;
}
#folderselect {
    margin: 0 0 0 0;
    box-shadow: 0 0 1px #fff;
    -moz-box-shadow: 0 0 1px #fff;
    -webkit-box-shadow: 0 0 1px #fff;
    -moz-border-radius: 0;
}
    #folderselect a {
        border: solid 1px transparent;
        display: block;
        padding: 3px;
        margin: 3px;
        color: #4b4b4b;
        text-decoration: none;
        min-width: 150px;
    }
        #folderselect a:hover {
            border: solid 1px #7da2ce;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            box-shadow: inset 0 0 1px #fff;
            -moz-box-shadow: inset 0 0 1px #fff;
            -webkit-box-shadow: inset 0 0 1px #fff;
            background-color: #cfe3fd;
            background: -moz-linear-gradient(top, #dcebfd, #c2dcfd);
            background: -webkit-gradient(linear, center top, center bottom, from(#dcebfd), to(#c2dcfd));
        }
        #folderselect a img {
            border: 0;
            vertical-align: middle;
            margin: 0 5px 0 0;
        }
#vertical{
    border-left: 5px solid black;
    height: 100%;
}
.folderpanel, .folderflip {
    right:0;
    margin: 0px 10px;
    text-align: left;

}

.folderpanel {
    padding: auto;
    display: none;
}

.portfolio-item {
    margin-bottom: 25px;
}

footer {
    margin: 50px 0;
}