.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 1900px) {
  .container {
    max-width: 1900px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
.navleft{
    text-align:right;
    right: 0px;
    z-index: 1030;
    font:14pt;
    font-family:Arial;
    color:white;
}
.navright{
    
}
.toggler{
    width: 500px;
    height: 500px;
}
#button {
    padding: .5em 1em;
    text-decoration: none;
}
#effect {
    width: 240px;
    height: 135px;
    padding: 0.4em;
    position: relative;
}
#effect h3 {
        margin: 0;
        padding: 0.4em;
        text-align: center;
    }
#panel, #flip {
    right:0;
    padding: 10px;
    text-align: right;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}

#panel {
    padding: auto;
    display: none;
}
.panelRight{
    width: 700px;
}
.panelLeft{
    text-align:left;
    left: 0px;
}
#toggle {
    width: 300px;
    height: 600px;
    background: #ccc;
  }
.slide {
  position: relative;
}
.slide .inner {
  position: absolute;
  left: 0;
  bottom: 0;
}

/*main css*/
* {
    font-family: Helvetica;
}
#container {
    float:right;
    width: 400px;
    height: 800px;
    margin: 20px 40px;
    position: relative;
    color: white;
    padding: 20px;
}
#drawer {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    overflow-x: hidden; /* Needed for initial hidden state */
}
#drawer > div {
    height: 100%;
    border-left: 1px;
    float: left;
}
#drawer-handle {
    width: 15px;
    background-color: #777;
    opacity:0.8;
}
#drawer-handle:after {
    content: "<";
    position: absolute;
    top: 50%;
    padding: 2px;
}
#drawer-content {
    width:         200px;
    margin-right: -200px; /* -width */
    background-color: #c3c3c3;
}
#drawer-content > p {
    padding: 10px;
}
#feedback {
    font-size: 1.4em;
}
#selectable .ui-selecting {
    background: #FECA40;
}
#selectable .ui-selected {
    background: #F39814;
    color: white;
}
#selectable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 450px;
}
    #selectable li {
        margin: 3px;
        padding: 1px;
        float: left;
        width: 100px;
        height: 80px;
        font-size: 4em;
        text-align: center;
    }

.summaryModal{
    width: 600px;
    height: 600px;
    background-color:#ffffff;
}
.folderModal{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color:rgb(0,0,0,0);
}
.folderheadModal{
    left: 0px;
    right: 0px;
    width: 600px;
    height: 45px;
    background-color:#e6e6e6;
}
.folderRightModal{
    height: 500px;
    width: 180px;
    background-color:#e6e6e6;
}

.folderLeftModal{
    height: 500px;
    width: 420px;
    background-color: #b6ff00;
}
.folderfooterModal{
    width: 600px;
    background-color:red;
}
.folderbodyModal{
    width: 600px;
}
.folderCenterModal{
  width: 50%;
  height: 50%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
.h6style{
    font-size: 10px;
}