<div class="row">
    <div class="col-md-1">
        <a>
            <img src="images/summary.png" />        
        </a>
        <h6>Summary.doc</h6>
    </div>
    <div class="col-md-1">
        <a>
            <img src="images/experience.png" />
        </a>
        <h6>Experience</h6>
    </div>
    <div class="col-md-1">
        <a>
            <img src="images/education.png" />
        </a>
        <h6>Education</h6>
    </div>
    <div class="col-md-1">
        <a>
            <img src="images/skill.png" />
        </a>
        <h6>Skills</h6>
    </div>
    <div class="col-md-1">
        <a>
            <img src="images/award.png" />
        </a>
        <h6>Award</h6>
    </div>
    <div class="col-md-1">
        <a>
            <img src="images/pdf.png" />
        </a>
        <h6>Resume.pdf</h6>
    </div>
    <div class="col-md-1">
        <a>
            <img src="images/powerpoint.png" />
        </a>
        <h6>Presentation.pp</h6>
    </div>

</div>
