<div class="container">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Document
                <small>Resume</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->
    <!-- Projects Row -->
    <div>
       Hello Wolrd!
    </div>
    <!-- /.row -->   
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Emmanuel Maisonneuve 2015</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>
</div>
<!-- /.container -->
