<div class="container">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                OfficeMax
                <small>06/2010 - 10/2011</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->
    <!-- Projects Row -->
    <div>
       Designed new on-brand visual elements to effectively convey concepts and messaging. Worked with internal clients to determine strategy and design for annual for marketing campaigns.
        <ul><li> Utilize the Team Member CARE process to contact customers, ask questions, recommend product and encourage add-ons for products and services. Consult and offer solutions to upgrade customer’s order. Assist customers in self-serve areas.</li></ul>
        <ul><li>
                Participate in discussions conducted on the Boundless communication devices, including answering questions, assisting team members when needed, offering praise to team members, and participating in ongoing training as a means of better serving customers.
            </li>
        </ul>
        <ul>
            <li>
                Maintain job flow of production utilizing job queues and other tools and techniques provided.
            </li>
        </ul>
        <ul>
            <li>
                Assist in the training of new ImPress Associates.
            </li>
        </ul>
        <ul>
            <li>
                Maintain job flow of production utilizing job queues and other tools and techniques provided.
            </li>
        </ul>
        <ul>
            <li>
                Provide assistance in all areas of the store based on business need; perform all other tasks and assignments as requested by ImPress and/or Store Management.
            </li>
        </ul>
    </div>
    <!-- /.row -->
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Emmanuel Maisonneuve 2015</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>
</div>
<!-- /.container -->