<div class="container">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Uok-Game
                <small>01/2009 - 2010</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->
    <!-- Projects Row -->
    <div>
        <p><b>Techinal Director</b></p>
        As a technical Artist and programmers, I was responsible for art assets can be easily integrated into a game engine without sacrificing either the overall artistic vision or exceeding the technical limits of the chosen platform.  Creating custom tolls to improve the efficiency of the team. Was able to carried out using the scripting languages included in the main modeling and animation packages. I overseeing role when it comes to providing feedback or debugging complex assets such as character skeleton rigs and skinning systems.
        <p>
            Create complex rig capable of deforming Character, and props animation for Games.
            I was responsible for the portrayal of movement and behavoir. Most often this applied to give life to game characters and creatures,
            but sometimes I'm also applied to other elements such as objects, scenery, vegetation and enviromental effects.
            Specialist software package are used to create the animations, which are used for both automated or in game behavoirs and predefined sequences or cut scenes.
        </p>
    </div>
    <!-- /.row -->
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Emmanuel Maisonneuve 2015</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>
</div>
<!-- /.container -->