<div class="container">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Vproductions
                <small>10/2011 - 10/2014</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->
    <!-- Projects Row -->
    <div>
        <p><b>Lead 3d Generalist:</b></p>
        As a 3d Generalist I was responsible for the creation, development and execution of various media elements of assigned attractions.  This include pre-visualization and animatic, composition, timing studies, integration of media sets and final media created with a variety of 3D and compositing tools. </br>
        
            <p>Use various application Maya, 3ds max, cinema 4d, zbrush, After Effects and Photoshop.</p>
        <ul>
            <li>Accomplished with many different methods, including, but not limited to: participating in brainstorm sessions, creating sketches, storyboards, POVs, renderings, 3D models, illustrations, plans, sections and elevations as well as supervising others in developing those ideas (i.e. designers, artists etc.) Will work by hand and in various applications including but not limited to Maya, 3D Studio Max, After Effects, and some C4D .</li>
        <li>Applicable project elements include, but are not limited to, scenic art and production, film production, music and sound production, production of special fx, lighting design as well as involvement in final installation of these elements.</li>
        </ul>
        <b>Sofware:</b>
        <p>Maya</p>
        <ul>
            - modeling, texturing, lighting, rigging, animation, particle/fluid/cloth effects, rendering
        </ul>
        <p>3Ds Max</p>
        <ul>
            Importing and working with large CAD data sets, modeling, texturing, lighting,
rigging (bones, BIPED, CAT), animation, particle effects, rendering
        </ul>
        <p>Cinema 4D</p>
        <ul>
            
        </ul>
        <p>Zbrush</p>
        <ul>
            
        </ul>
        <p>After Effects</p>
        <ul>
            compositing, 3D layers and 3D cameras, cinema 4D/Maya integration, motion graphics, keying, tracking, visual effects
        </ul>
        <p>Nuke</p>
        <ul>
            
        </ul>
        <p>Photoshop</p>
        <ul>
            texture map creation (color, bump, specular, etc.), layout, photo manipulation
        </ul>
        <b>Primary Responsibilities:</b>
        <ul>
            3D modeling, texturing, UV layout, shading networks, lighting, rigging, animation, and rendering Media design and layout via 3D animated pre-visualization </br>
            Accurate 3D modeling in real-world units to scale for facility and/or media pre-visualization</br>
            Detailed animatic including texturing, lighting, character animation, and visual effects</br>
            Compositing rendered layers and post visual effects to create final media</br>
            Scripting: Maya MEL/Python, 3DS Max script, After Effects</br>
            Using motion capture data</br>
            Character modeling and animation</br>
            On-set production experience, cameras, shooting, digital formats</br>
            3D camera tracking, 2D tracking, camera matching</br>
            Mental Ray for Maya, VRay for 3DS Max, or VRay for Cinema 4D.</br>

        </ul>

        <b>Lead TD:</b>
        Continually identify and develop improvement of animation pipeline efficiencies.
        responsible for creating 3D animated shots from start to finish
        Work with the Creative Director, Project Manager and client to define character and environment assets with an emphasis on storytelling.

    </div>
    <!-- /.row -->
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Emmanuel Maisonneuve 2015</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>
</div>
<!-- /.container -->