<script>
    $(document).ready(function () {
        $("#objective").click(function () {
            $("#objectivepanel").slideToggle();
        });
    });
    $(document).ready(function () {
        $("#education").click(function () {
            $("#educationpanel").slideToggle();
        });
    });
    $(document).ready(function () {
        $("#tools").click(function () {
            $("#toolspanel").slideToggle();
        });
    });
    $(document).ready(function () {
        $("#history").click(function () {
            $("#historypanel").slideToggle();
        });
    });
    $(document).ready(function () {
        $("#skills").click(function () {
            $("#skillspanel").slideToggle();
        });
    });
    $(document).ready(function () {
        $("#tool").click(function () {
            $("#toolpanel").slideToggle();
        });
    });
</script>
<!--Introductions-->
<div id="right">
    Emmanuel Maisonneuve </br>
    Lead Animation/Lead TD/Concept Design</br>
    57 maple ave Shirley NY, 11967</br>
    (c) 347.647.8868</br>
    (e) nwhousedomain@gmail.com</br>
    (e)jeff@cosmostreamstudio.com</br>
</div>
<!--Objective-->
<div id="objective" class="flip"><b>Objective</b></div>
<div id="objectivepanel" class="panel">
    Driven professional with broad technical skilled set and experienced 3D Art with nearly 10 years of experience using 3D software. 
    Obsessed with creative challenges beckoning 3D solutions.
    Proficient in 3D Modeling, Textuing, Lighting and Rendering 
    Proficient in Motion Graphics, Animation and Webdesign.
    </div>
<!--History-->
<div id="history" class="flip"><b>Experience</b></div>
<div id="historypanel" class="panel">
    <div class="row">
        <div class="col-md-6">
            <b>Lead 3d Generalist/Lead TD (character rigging/props)</b></br>
            <b>Vproductions NY Inc</b>- New York, NY</br>
        </div>
        <div class="col-md-6 text-right">
            <b>10/2011 - 10/2014</b>
        </div>
        
    </div>
    <div>
        Create complex rig capable of deforming to the director's expectations.
        Create animation for director's approval in a timely manner.
        Prepare rigs and animations for projects that requires said assets.
    </div>
    </br>
    <div class="row">
        <div class="col-md-6">
            <b>Impress (copy center)/design</b></br>
            <b>Office Max</b>- New York, NY</br>
        </div>
        <div class="col-md-6 text-right">
            <b>06/2010 - 10/2011</b>
        </div>

    </div>
    <div>
        Design new on-band visual elements to effectively convey concepts and messaging,
        Worked with internal clients to determine strategy and design for annual marketing campaigns.
    </div>
    </br>
    <div class="row">
        <div class="col-md-6">
            <b>Lead 3D Animation/Lead TD(Character/props rigging)</b></br>
            <b>UoK Game</b>- CA</br>
        </div>
        <div class="col-md-6 text-right">
            <b>10/2009 - 2010</b>
        </div>

    </div>
    <div>
        Create complex rig capable of deforming Character, and props animations for Games Engine
    </div>
    </br>
    <div class="row">
        <div class="col-md-6">
            <b>Maya Generalist</b></br>
            <b>Proux Industry</b>- New York, NY</br>
        </div>
        <div class="col-md-6 text-right">
            <b>02/2008 - 03/2010</b>
        </div>

    </div>
    <div>
        Prepare rigs and animations for projects that require said assets
    </div>
    </div>
<!--Education-->
<div id="education" class="flip"><b>Educations</b></div>
<div id="educationpanel" class="panel">
    <div class="row">
        <div class="col-md-2">
            <b>2005 </b>
        </div>
        <div class="col-md-10">
            <b>AA:</b> Game and Webdesign</br>
            <b>Katharine Gibbs</b> - Melville, NY
        </div>
    </div>
    </br>
    <div class="row">
        <div class="col-md-2">
            <b>2008 </b>
        </div>
        <div class="col-md-10">
            <b>BA:</b> Game Animation</br>
            <b>Academy of Art University</b> - San Francisco, CA
        </div>
    </div>
    </div>
<!--Skill-->
<div id="skills" class="flip"><b>Skills</b></div>
<div id="skillspanel" class="panel">
    <div class="row">
        <div class="col-md-12">
            <b>3D Skills:</b>
        </div>
    </div>
    <div>
        Professional Level experience with Adcanved 3D animation software (Maya, 3Ds Max) for concept dev.
        Advanced knowledge of polygonal/sub-D 3D modeling for architectural, mechanical, semi-organic-subjects and organic.
        Solid understanding of Photo-real stylized 3D lighitng/rendering/compositing techniques.
    </div>
    </br>
    <div class="row">
        <div class="col-md-12">
            <b>2D Skills:</b>
        </div>
    </div>
    <div>
        Strong drawing/digital paint (Photoshop) and experience creating conccept artwork-full
        facility with compositing software (after effects and nuke) for advanced look development and 2d Animation.
    </div>
    </br>
    <div class="row">
        <div class="col-md-12">
            <b>Technical Skills:</b>
        </div>
    </div>
    <div>
        Html/XML/ASP pages, CSS, JavaScript, Python, Mel Script Ruby on Rails, SQL/Server
    </div>
    </div>
<!--Tool-->
<div id="tool" class="flip"><b>Tools</b></div>
<div id="toolpanel" class="panel">
    <div class="row">
        <div class="col-md-4">
            Maya
        </div>
        <div class="col-md-7">
            <div class="progress">
                <div class="progress-bar life90" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
        </div>
        <div class="col-md-1">
            9
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            3ds Max
        </div>
        <div class="col-md-7">
            <div class="progress">
                <div class="progress-bar life80" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
        </div>
        <div class="col-md-1">
            8
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            Autodesk Softimage (XSI)
        </div>
        <div class="col-md-7">
            <div class="progress">
                <div class="progress-bar life50" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
        </div>
        <div class="col-md-1">
           5
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            Motion Builder (Kadara 5)
        </div>
        <div class="col-md-7">
            <div class="progress">
                <div class="progress-bar life60" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
        </div>
        <div class="col-md-1">
            6
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            Cinema 4D
        </div>
        <div class="col-md-7">
            <div class="progress">
                <div class="progress-bar life70" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
        </div>
        <div class="col-md-1">
            7
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            Photoshop
        </div>
        <div class="col-md-7">
            <div class="progress">
                <div class="progress-bar life70" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
        </div>
        <div class="col-md-1">
            7
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            Zbrush
        </div>
        <div class="col-md-7">
            <div class="progress">
                <div class="progress-bar life70" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
        </div>
        <div class="col-md-1">
           7
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            Mudbox
        </div>
        <div class="col-md-7">
            <div class="progress">
                <div class="progress-bar life60" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
        </div>
        <div class="col-md-1">
           6
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            Mari
        </div>
        <div class="col-md-7">
            <div class="progress">
                <div class="progress-bar life40" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
        </div>
        <div class="col-md-1">
           4
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            Substance Painter
        </div>
        <div class="col-md-7">
            <div class="progress">
                <div class="progress-bar life50" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
        </div>
        <div class="col-md-1">
            5
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            Unreal Engine 4
        </div>
        <div class="col-md-7">
            <div class="progress">
                <div class="progress-bar life50" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
        </div>
        <div class="col-md-1">
            5
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            Critek Engine 3
        </div>
        <div class="col-md-7">
            <div class="progress">
                <div class="progress-bar life40" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
        </div>
        <div class="col-md-1">
           4
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
           Unity Engine
        </div>
        <div class="col-md-7">
            <div class="progress">
                <div class="progress-bar life40" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
        </div>
        <div class="col-md-1">
            4
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
           HTML/CSS
        </div>
        <div class="col-md-7">
            <div class="progress">
                <div class="progress-bar life70" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
        </div>
        <div class="col-md-1">
            7
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
           After Effects
        </div>
        <div class="col-md-7">
            <div class="progress">
                <div class="progress-bar life80" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
        </div>
        <div class="col-md-1">
            8
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            Illustrator
        </div>
        <div class="col-md-7">
            <div class="progress">
                <div class="progress-bar life50" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
        </div>
        <div class="col-md-1">
            5
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            Nuke
        </div>
        <div class="col-md-7">
            <div class="progress">
                <div class="progress-bar life60" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
        </div>
        <div class="col-md-1">
            6
        </div>
    </div>
  
</div>

